{% extends 'Movies/base.html' %}
{% block content %}
<div class="p-3 mt-5">
    <div class="container">
        <div class="row mb-5 justify-content-center">
            <div class="col-md-8 my-5">
                <div class="card shadow p-3 mb-4 rounded">
                    <h2>Login</h2>
                    <hr />
                    {% if template_data.error %}
                    <div class="alert alert-danger" role="alert">
                        {{template_data.error}}
                    </div>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        <p>
                            <label for="username">Username</label>
                            <input id="username" type="text" name = "username" aria-required="true" required autocomplete="username" class="form-control">
                        </p>
                        <p>
                            <label for="email">Email</label>
                            <input id="email" type="text" name = "email" aria-required="true" required autocomplete="email" class="form-control">
                        </p>
                        <p>
                            <label for="password">Password</label>
                            <input id="password" type="password" name="password" aria-required="true" autocomplete="current-password" class="form-control">
                        </p>
                        <div class="text-center">
                            <button type="submit" class="btn bg-danger text-white">Log In</button>
                        </div>
                        <div>
                            <a href="{% url 'reset_password' %}"><i>Forgot Password?</i></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="spacer" style="padding-bottom:115px"></div>
    </div>
</div>
{% endblock %}