{% extends 'Movies/base.html' %}
{% block content %}
<header class="masthead bg-index text-white text-center py-5">
  <div class="container d-flex align-items-center flex-column pt-5">
    <h2>GT Movies Store</h2>
    <p>Your Ticket to Unlimited Entertainment!</p>
  </div>
</header>
<div class="p-3">
  <div class="container">
    <div class="row mt-4">
      <div class="col mx-auto text-center mb-3">
        <h3>Welcome to the GT Movies Store!</h3>
      </div>
    </div>
    <div class= "row">
        <div class="col px-2 mx-auto text-center my-auto">
            <img src="../../static/images/film.svg" alt="film reel" class="mb-3" width="100px" height="100px"/>
            <h4><a href="{% url 'movies' %}" style="text-decoration:none;color:var(--accent);">Movie Library</a></h4>
            <p>View our extensive libraries of classic, new, underground, and international films</p>
        </div>
        <div class="col-5 px-2 mx-auto text-center my-auto">
            <img src="../../static/images/camera-reels.svg" class="mb-3" alt="info icon" width="100px" height="100px"/>
            <figure class="text-center">
                <blockquote class="blockquote">
                    <h4>We are the movies and the movies are us.</h4>
                </blockquote>
                <figcaption class="mt-2 blockquote-footer">
                    <cite title="Source Title">David Ansen</cite>
                </figcaption>
            </figure>
        </div>
        <div class="col px-2 mx-auto text-center my-auto">
            <img src="../../static/images/info-circle.svg" class="mb-3" alt="info icon" width="100px" height="100px"/>
            <h4><a href="{% url 'about' %}" style="text-decoration:none;color:var(--accent);">About</a></h4>
            <p>Learn more about the site and the store.</p>
        </div>
    </div>
  </div>
</div>
{% endblock content%}