{% extends 'Movies/base.html' %}
{% block content %}
    <div class="p-4">
        <div class="container">
            <div class="row mt-5">
                <div class="col mx-auto mb-3">
                    <h2>Movies</h2>
                    <hr />
                </div>
            </div>
            <div class="row pb-5" style="margin-bottom:127px">
                <form method="POST" action= "{% url 'movies' %}" class="row row-cols-auto align-items-center">
                    {% csrf_token %}
                    <div class="col-11">
                        <p>
                          <input name="search" required class="form-control" placeholder="Search" id="search">
                        </p>
                    </div>
                    <div class="col-1">
                      <button type="submit" class="btn bg-dark text-white mb-3">Search</button>
                    </div>
                </form>
                {% for movie in template_data.movies %}
                    <div class="col-md-4 col-lg-3 mb-2 d-flex">
                        <div class="p-2 card align-items-center pt-4">
                          <img src="{{ movie.image }}" class="card-img-top mb-3" id="movie-poster" alt="movie poster for {{ movie.title }}">
                          <div class="text-center">
                              <a href="{% url 'movies.show' id=movie.id %}"  class="btn bg-danger text-white">
                                {{ movie.title }}
                              </a>
                          </div>
                        </div>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}