:root {
    --body-bg: white;
    --accent: #e41811;
    --visited_link: #ffe34d;
    --text_color: black;
}

.navbar {
    background-color: var(--text_color);
}
.nav-link, .navbar-brand {
    color: var(--body-bg);
}
.bg-index{
  background: url("../images/banner.jpg") no-repeat
    fixed;
  background-size: 100% auto;
}
.card-title {
    font-weight: bold;
    font-size: medium;
}
/*
.nav-item[aria-current="true"] {
    color: var(--visited_link);
    font-style: inherit;
}*/
